Repository albburtsev/reaction: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, lint:es, lint:ts

fix: version inconsistency
  package.json
Due: prettier --write

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: re-format .json files
  .prettierrc
  package.json
  tsconfig.json
  tslint.json
Due: prettier --write

chore: replace `babel-preset-es2015` with `babel-preset-env`
  package.json
  yarn.lock
Due: prettier --write

feat: add `Licensing Agreements` icon to `FormSignup`
  src/components/layout/FormSignup/FormSignup.styl
  src/components/layout/FormSignup/FormSignup.styl.d.ts
  src/components/layout/FormSignup/FormSignup.tsx
  src/components/layout/FormSignup/assets/license.svg
Due: prettier --write, lint:ts

chore: use re-export to write shorter imports
  src/components/common/Button/index.ts
  src/components/common/Input/index.ts
  src/components/common/Logo/index.ts
  src/components/layout/FormSignin/FormSignin.tsx
  src/components/layout/FormSignup/FormSignup.tsx
  src/components/page/PageEntry/PageEntry.tsx
Due: prettier --write, lint:ts

Deploy albburtsev/reaction to github.com/albburtsev/reaction.git:gh-pages
  build/app.bundle.js
  build/app.bundle.js.map
  build/app.css
  build/app.css.map
  build/vendors.bundle.js
  build/vendors.bundle.js.map
  deployed at Fri Sep 29 21:05:44 UTC 2017 by Deployment Bot (from Travis CI)
  index.html
Due: prettier --write, lint:es

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.json)
  lint:es: any of: *.{js,jsx}
  lint:ts: any of: *.{ts,tsx}
